// {
//   "presets": [
//     [
//       "env",
//       {
//         "modules": false
//       }
//     ],
//     "react",
//     "stage-0"
//   ]
// }

{
  "presets": [
    "@babel/preset-react"
  ]
}